form{
  display:flex;
  align-items: center;
  justify-content: center;
}


select[type=text] {
   width: 600px;
   margin-left:5%;
}

.barContainer{
  width:100%;
  height:10%;
  background-color: gray;
  display:flex;
}

.logo{
  font-weight:bold;
  font-style:italic;
  display:flex;
  text-align:center;
  display:center;
  justify-content: center;
  align-items: center;
}

.submit{
  background-color:white;
  padding:2px 5px 2px 5px;
  margin-left: 10px;
}

.submit:hover{
  cursor: pointer;
}

.buttons{
  margin-left:5%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
}
